/*Colors and fonts */
body{
background: rgb(230, 230, 230); 
color: rgb(50, 50, 50);
font-family: calibri;
font-size: 16px;
}

h1, h2 h3 {
	color: rgb(50,50,50);
	font-family: calibri;
}


h1{
	color: rgb(2,0,36);
	font-family: Calibri;
	font-size: 32px;
}

h2{
	color: rgb(100,100,100);
	font-family: Calibri;
	font-size: 24px;
}

a{
	text-decoration: none;
	color: red;
}

a:hover {
	color: yellow;
}

